beautifulsoup4~=4.12.2
chardet~=5.2.0
lxml~=5.0.0
mechanize~=0.4.10
openpyxl~=3.1.2
pandas~=2.1.4
public~=2020.12.3
pymongo~=4.6.1
requests==2.32.0
tldextract~=5.1.2
tld~=0.13
tqdm~=4.66.2
wxpython~=4.2.1